body {
  margin: 25px;
  background-color: #f0f0f0;
  font-family: arial, sans-serif;
  font-size: 14px;
}
h1 {
  font-size: 35px;
  font-weight: normal;
  margin-top: 5px;
}
.someclass {
  color: red;
}
#someid {
  color: green;
}
